In [1]:
import sklearn
import numpy as np
import pandas as pd
from datetime import datetime

In [5]:
training=pd.read_csv("kernel1training.csv")
testing=pd.read_csv("kernel1testing.csv")

In [6]:
training.head()

,air_store_id,visit_date,visitors,dow,year,month,holiday_flg,min_visitors,mean_visitors,median_visitors,...,rv2_y,id,total_reserv_sum,total_reserv_mean,total_reserv_dt_diff_mean,date_int,var_max_lat,var_max_long,lon_plus_lat,air_store_id2
0,air_ba937bf13d40fb24,2016-01-13,25,2,2016,1,0,7.0,23.843750,25.0,...,-1.0,air_ba937bf13d40fb24_2016-01-13,-1.0,-1.0,-1.0,20160113,8.362564,4.521799,175.409667,603
1,air_ba937bf13d40fb24,2016-01-14,32,3,2016,1,0,2.0,20.292308,21.0,...,-1.0,air_ba937bf13d40fb24_2016-01-14,-1.0,-1.0,-1.0,20160114,8.362564,4.521799,175.409667,603
2,air_ba937bf13d40fb24,2016-01-15,29,4,2016,1,0,4.0,34.738462,35.0,...,-1.0,air_ba937bf13d40fb24_2016-01-15,-1.0,-1.0,-1.0,20160115,8.362564,4.521799,175.409667,603
3,air_ba937bf13d40fb24,2016-01-16,22,5,2016,1,0,6.0,27.651515,27.0,...,-1.0,air_ba937bf13d40fb24_2016-01-16,-1.0,-1.0,-1.0,20160116,8.362564,4.521799,175.409667,603
4,air_ba937bf13d40fb24,2016-01-18,6,0,2016,1,0,2.0,13.754386,12.0,...,-1.0,air_ba937bf13d40fb24_2016-01-18,-1.0,-1.0,-1.0,20160118,8.362564,4.521799,175.409667,603

In [8]:
testing.head()

,id,visitors,visit_date,air_store_id,dow,year,month,holiday_flg,min_visitors,mean_visitors,...,rs2_y,rv2_y,total_reserv_sum,total_reserv_mean,total_reserv_dt_diff_mean,date_int,var_max_lat,var_max_long,lon_plus_lat,air_store_id2
0,air_00a91d42b08b08d9_2017-04-23,2.584138,2017-04-23,air_00a91d42b08b08d9,6,2017,4,0,2.0,2.000000,...,-1.0,-1.0,-1.0,-1.0,-1.0,20170423,8.326629,4.519803,175.447598,0
1,air_00a91d42b08b08d9_2017-04-24,21.196172,2017-04-24,air_00a91d42b08b08d9,0,2017,4,0,1.0,22.457143,...,-1.0,-1.0,-1.0,-1.0,-1.0,20170424,8.326629,4.519803,175.447598,0
2,air_00a91d42b08b08d9_2017-04-25,23.153406,2017-04-25,air_00a91d42b08b08d9,1,2017,4,0,1.0,24.350000,...,-1.0,-1.0,-1.0,-1.0,-1.0,20170425,8.326629,4.519803,175.447598,0
3,air_00a91d42b08b08d9_2017-04-26,30.322339,2017-04-26,air_00a91d42b08b08d9,2,2017,4,0,15.0,28.125000,...,-1.0,-1.0,-1.0,-1.0,-1.0,20170426,8.326629,4.519803,175.447598,0
4,air_00a91d42b08b08d9_2017-04-27,31.780670,2017-04-27,air_00a91d42b08b08d9,3,2017,4,0,15.0,29.868421,...,-1.0,-1.0,-1.0,-1.0,-1.0,20170427,8.326629,4.519803,175.447598,0

In [10]:
train_X=training.drop(["visitors","id"],axis=1)
train_Y=train["visitors"]
test_X=test.drop(["visitors","air_store_id","id"])

ValueError: labels ['id'] not contained in axis

In [ ]:
train_Y=train["visitors"]
test_X=test.drop(["visitors","air_store_id","id"])