In [21]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import datasets
from sklearn import svm
import pandas as pd

In [63]:
stations=pd.read_csv("data/stations.csv")
air_store_info=pd.read_csv("data/air_store_info.csv")

In [64]:
stations.head()

       STATION             NAME  LATITUDE  LONGITUDE
0  JAM00047918     ISHIGAKI, JA    24.345    124.187
1  JA000047827    KAGOSHIMA, JA    31.550    130.550
2  JA000047632         GIFU, JA    35.400    136.767
3  JA000047433      KUTCHAN, JA    42.900    140.750
4  JA000047678  HACHIJOJIMA, JA    33.117    139.783

In [65]:
air_store_info.head()

,air_store_id,air_genre_name,air_area_name,latitude,longitude
0,air_0f0cdeee6c9bf3d7,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
1,air_7cc17a324ae5c7dc,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
2,air_fee8dcf4d619598e,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
3,air_a17f0778617c76e2,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
4,air_83db5aff8f50478e,Italian/French,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599

In [66]:
len(air_store_info)

829

In [68]:
st=stations.values

In [69]:
st.shape

(129, 4)

In [70]:
st[1,1]

'KAGOSHIMA, JA'

In [71]:
infos=air_store_info.values

In [72]:
len(infos)

829

In [120]:
def getNearestStation(stations, lt,lg):
    dist=[]
    for i in range(len(stations)):
        lt1=stations[i,2]
        lg1=stations[i,3]
        d= (lt1-lt)**2+ (lg1-lg)**2
        dist.append((i,d))

    dist = sorted(dist, key=lambda tup: tup[1])
    index=dist[0][0]
    return stations[index]

In [121]:
store_station=[]

In [122]:
stations.shape

(129, 4)

In [123]:
for i in range(len(infos)):
    lt=infos[i,3]
    lg=infos[i,4]
    station= getNearestStation(st, lt,lg)
    
    store_station.append(station)

In [124]:
store_station_pd=pd.DataFrame(store_station,columns=["station_id","station_name","station_lt","station_lg"])

In [125]:
air_store_info_station= pd.concat([air_store_info, store_station_pd],axis=1)

In [128]:
final=air_store_info_station.drop(["station_lt","station_lg"],axis=1)

In [129]:
final.head()

,air_store_id,air_genre_name,air_area_name,latitude,longitude,station_id,station_name
0,air_0f0cdeee6c9bf3d7,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,JA000047770,"KOBE, JA"
1,air_7cc17a324ae5c7dc,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,JA000047770,"KOBE, JA"
2,air_fee8dcf4d619598e,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,JA000047770,"KOBE, JA"
3,air_a17f0778617c76e2,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,JA000047770,"KOBE, JA"
4,air_83db5aff8f50478e,Italian/French,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,JA000047662,"TOKYO, JA"

In [130]:
final.to_csv("air_store_info_with_station.csv",index=False)