In [1]:
import pandas as pd

In [3]:
weather=pd.read_csv("data/weather.csv")

In [15]:
weather.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP,PRCP_ATTRIBUTES,SNWD,SNWD_ATTRIBUTES,TAVG,TAVG_ATTRIBUTES,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES
0,JAM00047918,"ISHIGAKI, JA",24.345,124.187,28.3,2016-01-01,0.5,",,S",NaN,NaN,22.4,"H,,S",NaN,NaN,17.7,",,S"
1,JAM00047918,"ISHIGAKI, JA",24.345,124.187,28.3,2016-01-02,0.0,",,S",NaN,NaN,24.2,"H,,S",26.5,",,S",NaN,NaN
2,JAM00047918,"ISHIGAKI, JA",24.345,124.187,28.3,2016-01-03,4.1,",,S",NaN,NaN,21.7,"H,,S",23.6,",,S",NaN,NaN
3,JAM00047918,"ISHIGAKI, JA",24.345,124.187,28.3,2016-01-04,9.9,",,S",NaN,NaN,22.6,"H,,S",NaN,NaN,20.6,",,S"
4,JAM00047918,"ISHIGAKI, JA",24.345,124.187,28.3,2016-01-05,36.1,",,S",NaN,NaN,22.1,"H,,S",25.2,",,S",NaN,NaN

In [6]:
weather2=weather[["STATION","PRCP","SNWD","TAVG","TMAX","TMIN"]]

In [7]:
weather2.head()

       STATION  PRCP  SNWD  TAVG  TMAX  TMIN
0  JAM00047918   0.5   NaN  22.4   NaN  17.7
1  JAM00047918   0.0   NaN  24.2  26.5   NaN
2  JAM00047918   4.1   NaN  21.7  23.6   NaN
3  JAM00047918   9.9   NaN  22.6   NaN  20.6
4  JAM00047918  36.1   NaN  22.1  25.2   NaN

In [8]:
#return a formatted percentage from a fraction
def percentage(numerator, denomenator):
    
    if type(numerator) == pd.core.series.Series:
        return (numerator/denomenator*100).map('{:.1f}%'.format)
    
    elif type(numerator) == int or type(numerator) == float:
        return '{:.1f}%'.format(float(numerator)/float(denomenator)*100) 
    
    else:
        print("check type")

In [13]:
#snow data is rare, which is reasonable.
#temp average data is good,might be useful.
percentage(weather2.count()-1, weather2.shape[0]-1)

STATION    100.0%
PRCP        94.4%
SNWD         3.0%
TAVG       100.0%
TMAX        89.0%
TMIN        53.4%
dtype: object

In [12]:
weather2.count()

STATION    110030
PRCP       103834
SNWD         3297
TAVG       110030
TMAX        97978
TMIN        58787
dtype: int64

In [14]:
weather2.to_csv("data/weather2.csv")